#wrapper{
	width: 100%;
	
	background-color: black;
}
#header{
	width: 100%;
	background-color: red;
}

#content{
	width: 100%;
	background-color: green;
	clear: none;
	
}
#dashboard{
	float: right;
	width: 20%;
	background-color: blue;
}
#main{
	width: 80%;
	background-color: pink;
	float:left;
}
#footer{
	width: 100%;
	background-color: purple;
}
.login{}
.opps{}